:root {
  --unit: 18rem;
  --u1: 0.25rem;
  --u2: 0.5rem;
  --sup: rgba(255, 255, 0, 0.5);
  --sub: rgba(255, 0, 0, 0.25);
  --med: rgba(128, 128, 128, 0.125);
  --active: rgba(0, 255, 0, 0.125);
  --baseKey: 1;
}

html,
body {
  height: 100%;
  z-index: -9;
  background-color: #fff;
}

main {
  /* 
  RESET */
  &,
  * {
    box-sizing: border-box;
  }

  &,
  h2,
  h3,
  p,
  form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 0.9rem;
    /* limit area cutoff icon animations & large mip */
  }

  /* 
  STRUCTURE */
  &,
  section,
  article,
  aside,
  fieldset {
    padding: var(--u2);
  }

  section,
  aside,
  h2,
  p,
  ul,
  ol,
  form,
  table {
    margin-top: 0;
    margin-bottom: var(--u2);
  }

  .resize,
  .scroll {
    /* will-change: scroll-position; */
  }

  .resize {
    resize: horizontal;
    overflow: hidden;
    overflow-x: auto;
    /**/
    min-width: 50%;
    max-width: 200%;
    min-height: 3rem;
    max-height: 6rem;
  }

  .scroll {
    overflow: hidden;
    overflow-y: auto;
  }

  & {
    /*user-select: none;*/
    /*position: absolute;*/
    position: relative;
    z-index: 2;
    margin: var(--u2);
    width: 16rem;
    max-width: var(--unit);
  }

  #static {
    /*position: absolute;*/
  }

  aside {
    position: absolute;
    left: 100%;
    background: var(--med);
    height: 12rem;
  }

  /* counter */
  counter-reset: section;

  section,
  article {
    &:after {
      /* fix overflow height */
      counter-increment: section;
      content: '::' counter(section);
      display: block;
      clear: both;
      /* and troubleshoot toSvg */
      font-size: 0.5rem;
      color: #808080;
    }
  }

  /* form */
  input,
  select {
    border: 0.125rem solid transparent;
    border-radius: 0;
  }

  input[type='text'],
  input[type='button'],
  input[type='reset'],
  button,
  select {
    appearance: none;
    border-color: var(--med);
  }

  table {
    border-collapse: collapse;
    text-align: left;

    tr:nth-child(odd) {
      background-color: var(--med);
    }

    td,
    th {
      padding: var(--u1);
    }
  }

  ul {
    padding-left: 1.75em;
  }

  table tr,
  li,
  summary {
    /* pseudo styles here, prevent epilepsy */
  }

  :hover,
  :focus {
    background-color: var(--active);
  }

  :focus {
    background-color: var(--sub);
  }

  :active {
    background-color: rgba(0, 255, 0, 0.5);
  }

  ::selection {
    background-color: var(--sup);
    color: var(--med);
  }

  /*
  STYLE */

  #thread {
    /*font-size: 1.5em;*/
    margin: 1rem 0 var(--u2);
    background-color: rgba(255, 255, 128, 0.5);

    div,
    span,
    section,
    a {
      width: 50%;
      float: left;
      text-align: center;
      background-color: rgba(128, 128, 128, 0.25);
    }
  }

  /* accents */
  h2,
  details {
    border-top: var(--u1) solid var(--sup);
    font-style: normal;
    font-weight: normal;
  }

  .sup,
  h2 span,
  summary span {
    background-color: var(--sup);
  }

  .sub {
    background-color: var(--sub);
  }

  /* LIVE MEDIA */

  .slides {
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: center;

    .track {
      flex-grow: 1;
      flex-shrink: 4;
      flex-basis: 0;
      contain: inline-size;

      /* off */
      position: relative;
      transition: flex-grow 1.5s;
      opacity: 50%;

      img,
      picture,
      video {
        display: block;
        width: 100%;
        height: 8em;
        image-rendering: pixelated;
        background-blend-mode: multiply;
        /*background-attachment: fixed; toCanvas style conflicts inconsistent */
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIElEQVQYV2Nk+M/QwMDI0MAABYxgGkkQIoAkiBCACgIABm4HhEEa4PgAAAAASUVORK5CYII=');
        background-size: auto 10vmin;
        /* 10vmin may be more compatible */
        background-position: -10vmin -10vmin;
        animation: media 6s linear infinite;
        animation-play-state: paused;

        /* stay open */
        pointer-events: none;
      }

      &:hover,
      &:active,
      &:focus,
      &.active {
        /* on (filter doesn't toCanvas) */
        flex-grow: 4;
        opacity: 100%;
        animation: slider 3s linear infinite;

        img,
        picture,
        video {
          border-radius: 0.5em;
        }
      }
    }

    figcaption {
      position: absolute;
      top: 0;
      z-index: 1;
      transform: rotate(90deg);
      transform-origin: left bottom;
      white-space: nowrap;
      /* consistent */
      background-color: #fff;
    }
  }

  /*
LAYOUT (may need global scope for css3d?) */
  .w25,
  .w33,
  .w50,
  .w66,
  .w75 {
    float: left;
    max-width: 12rem;
  }

  .w25 {
    width: 25%;
  }

  .w33 {
    width: 33.3%;
  }

  .w50 {
    width: 50%;
  }

  .w66 {
    width: 66.6%;
  }

  .w75 {
    width: 75%;
  }

  .w100 {
    width: 100%;
  }

  img {
    width: 100%;
    height: auto;
  }

  /* ANIMATIONS */
  .tilt {
    /* unit deg: with xy or z (not all) */
    /* unit .5turn: all xyz at once */
    transform: rotate3d(0, 0, 1, -15deg);
  }

  .hinge {
    position: relative;
    /*animation: hinge 6s linear infinite alternate;*/
  }

  .cycle {
    animation: cycle 3s steps(1, start) infinite;
  }

  .blink {
    border: 0.125rem dashed red;
    animation: blink 3s linear infinite;
    opacity: 1;
  }

  .ticker {
    list-style: none;
    padding-left: 0;
    /*font-size: 1.5rem;*/
    min-height: 2em;
    max-height: 2em;
    /*overflow: hidden;*/
    display: flex;
    flex-wrap: wrap;

    li {
      width: 100%;
      /* display: block; */
      min-width: 50%;
      flex-grow: 4;
      flex-basis: 8rem;

      /* fix some subpixel shift (from parent container) */
      & > span {
        vertical-align: middle;
      }

      & > .ico {
        font-size: 1.75rem;
        line-height: 1;
      }

      /* zoetrope */
      animation: ticker 3s steps(3, end) infinite;

      &:nth-child(1),
      &:nth-child(3),
      &:nth-child(5) {
        background-color: rgba(128, 255, 0, 0.25);
      }

      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(6) {
        background-color: rgba(255, 128, 0, 0.25);
      }
    }
  }

  .cycle,
  .ticker > li {
    animation-play-state: paused;
  }

  p,
  ul,
  ol {
    line-height: 1.25;
  }
}

.ico {
  /* translate3d */
  animation: ico 12s linear infinite;
  display: inline-block;
  font-size: 2em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  vertical-align: middle;
  overflow: hidden;
  /*margin: -0.5em;*/
  line-height: 1;
  box-shadow: inset 0 0 0em 0.05em red;
  /* reasonably opaque area for OpenCV */
  background-color: rgba(255, 255, 255, 0);
  color: red;
}

@media only screen and (orientation: portrait) {
  .ico {
    background-color: var(--med);
  }
}

/* 
EFFECTS, ANIMATION */
@keyframes media {
  100% {
    background-position: 0 0;
  }
}

@keyframes slider {
  50% {
    transform: translate(0, -0.5em);
  }
}

@keyframes hinge {
  25% {
    z-index: 0;
    transform: rotate(0deg) scale(var(--baseKey));
  }

  50% {
    z-index: 99;
    transform: rotate(-15deg) scale(var(--baseKey));
  }

  75% {
    z-index: -3;
    transform: rotate(0deg) scale(var(--baseKey));
  }

  100% {
    z-index: 0;
  }
}

@keyframes cycle {
  33% {
    background-color: rgba(255, 0, 0, 0.5);
  }

  66% {
    background-color: rgba(0, 255, 0, 0.5);
  }

  100% {
    background-color: rgba(0, 0, 255, 0.5);
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes ticker {
  50% {
    background-color: rgba(255, 255, 0, 0.5);
  }

  100% {
    transform: translate(0, -300%);
  }
}

@keyframes ico {
  50% {
    transform: rotate3d(0.125, -0.125, 0.5, 360deg);
  }

  100% {
    transform: rotate3d(-0.125, 0.125, 1, 360deg);
  }
}

/*
  COMMON STRUCTURE */

/* containers (may be cloned out of parent hierarchy) */
.yt iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.yt {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

model-viewer {
  width: 100%;
  height: 6em;
  position: relative;
  contain: strict;
}

.bgnormal {
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0.5)),
    linear-gradient(to bottom, rgba(0, 255, 0, 0), rgba(0, 255, 0, 0.5)), linear-gradient(rgb(128, 128, 255), rgb(128, 128, 255));
}

.lil-gui.root {
  .title {
    overflow: hidden;
  }

  div:before,
  div:after {
    /* CDN serves garbage after throttling (arrow) */
    content: '' !important;
  }
}

/* test: reflow, update */
.mp-unstyle {
  .hinge {
    animation: hinge 12s linear infinite;
  }

  .march mp {
    animation-play-state: running;
  }

  span.mp-poster {
    box-shadow: inset 0 -0.125em 0 0 var(--sub);
  }

  .slides .track {
    img,
    picture,
    video {
      animation-play-state: running;
    }
  }

  .cycle,
  .ticker > * {
    animation-play-state: running;
  }
}

main {
  :focus,
  :active,
  .active,
  .pulse {
    box-shadow: inset 0 0 0.125em 0.125em var(--active);
    animation: active 0.5s linear infinite alternate;
  }
}

@keyframes active {
  to {
    box-shadow: inset 0 0 0em 0.125em cyan;
    background-color: rgba(0, 255, 255, 0.25);
  }
}

/* TEST STYLES */

main,
details,
section {
  perspective: 5000px;
}

.w33 {
  &:hover,
  &.active {
    --baseKey: 2;
    transform: scale(var(--baseKey));
  }

  transition: 3s transform;
}

img.w50:hover,
img.w50.active {
  width: 100%;
  transition: width 2s;
}

.gpuForce {
  transform: translate3d(0, 0, 0);
}

.stage {
  position: relative;
  overflow: visible;
}
