:root {
  --unit: 18rem;
  --u1: 0.25rem;
  --u2: 0.50rem;
  --sup: rgba( 255, 255, 0, 0.50 );
  --sub: rgba( 255, 0, 0, 0.25 );
  --med: rgba( 128, 128, 128, 0.125 );
}

html, body {
  height: 100%;
}
#tools {
  * { box-sizing: border-box; }
  // RESET
  &, h2, h3, p, form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 1rem;
  }

  // STRUCTURE
  &, #main {
    user-select: none;
    position: absolute;
    z-index: 2;
    margin: var(--u2);
    width: 16rem;
    max-width: var(--unit);
  }
  aside#transform {
    position: absolute;
    left: 100%;
    background: var(--med);
    transform: rotate(15deg) scale(1.5);
  }
  article#nest {
    div, span, section {
    float: left;
    width: 50%;
    height: 1em;
    background-color: rgba( 128, 128, 128, 0.25 );
    }
  }

  main { line-height: 1; }
}


h2 { border-top: var(--u1) solid var(--sup); font-style: normal; font-weight: 600; }
.sup, h2 span { background-color: var(--sup); }
.sub { background-color: var(--sub); }

main, section, article, aside, fieldset { padding: var(--u2); }
section, aside, h2, p, ul, ol, form, table {
  margin-bottom: var(--u2);
}

table {
  border-collapse: collapse;
  text-align: left; 
  tr:nth-child(odd) { background-color: var(--med); }
  td, th { padding: var(--u1); }
}

ul { padding-left: 1.75em; }

table tr, li, summary {
  &:hover {
    background-color: var(--sub);
  }
}


// framework
.w25, .w50, .w75 { float: left; }
.w25 { width: 25.0%; }
.w50 { width: 50.0%; }
.w75 { width: 75.0%; }
.w100 { width: 100%; }
img {
  width: 100%;
  height: auto;
}

#Lena{
  position: relative;
  left: 0;
  animation: Lena 15s linear infinite; 
}
@keyframes Lena {
  100% { transform: rotate(360deg); left: 12em; }
}

// containers
.yt iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.yt {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
model-viewer {
  width: 100%;
  height: 6em;
  position: relative;
  contain: strict;
}